.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
  /* background-color: var(--clau-color); */

}

.about .about__left {
  max-width: 40rem;
  flex: 1;
  
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
  
}

.about .about__right p {
  text-align: justify;
}

.about .about__right .titulo_inicial {
  text-align: justify;

}
/* Borboletas */
.borboleta{
  border-style: solid;
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
 
}

 .b1,.b2 {
  width: calc(50% - 20px); 
  margin-bottom: 10px; 
}  


.b1 img, 
.b2 img {
 max-width: 100%; /* Garante que as imagens se ajustem ao contêiner */
 height: auto; /* Mantém a proporção da imagem */
}

 .borboleta .b2 img {
  /* border-style:solid ; */
  align-items:end;
  justify-content: center;
  width: 70px;
  height: 70px; 
 
} 

/*
.about .about__left .b2 img:hover {
   width: 82px;
   height: 82px;
   -webkit-transform:scale(1.1);
   transform:scale(1.1);
   -webkit-transition: all 0.1s ease;
   transition: all 0.5s ease;
  } */

  /* Borboleta 1 */
  .borboleta .b1 {
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: animacao 0.80s infinite alternate;
  }
  
  @-webkit-keyframes animacao {
    to {
      transform: scale(1.1);
    }
  }
  
  /* @keyframes animacao {
    to {
      transform: scale(1.1);
    }
  } */

  /* Borboleta 2 */
  .borboleta .b2 {
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: animacao 0.90s infinite alternate;
  }
  
  @-webkit-keyframes animacao {
    to {
      transform: scale(1.1);
    }
  }
  
  /* @keyframes animacao {
    to {
      transform: scale(1.1);
    }
  } */
  

 






@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}
