footer {
  position: relative;
  background-color: var(--clau-color);
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
  grid-auto-columns: 1fr;
 
}

/* .footer__content .ondas-box {
  position: absolute;
  width: 100%;
  height: 167px;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 500px;
} */

.ondas-box {
  position: absolute;
  bottom: 620px;
  height: 100px;
  width: 100%;
  /* background-image: url(../../assets/onda_2.png);
  background-size: 2000px 100px; 
  animation-duration: 10s; 
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

/* @keyframes ondaMover {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */

/* #onda1 {
  animation-name: ondaMover;
  opacity: 0.9;
} */

/* #onda2 {
  animation-name: ondaMover;
  animation-delay: 1s; 
  opacity: 0.5;
} */

/* #onda3 {
  animation-name: ondaMover;
  animation-delay: 2s; 
  opacity: 0.7;
} */

/* #onda4 {
  animation-name: ondaMover;
  animation-delay: 3s; 
  opacity: 0.8;
} */

/* #onda5 {
  animation-name: ondaMover;
  animation-delay: 3s; 
  opacity: 1;
} */

.waves {
  position: relative;
  width: 100%;
   height: 15vh;
  /* margin-bottom: 70px; */
  /*Fix for safari gap*/
  min-height: 90px;
  max-height: 140px;
  
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}



/* Botão voltar ao Topo */
#btnTop {
  position: fixed;
  bottom: 10px;
  right: 100px;
  margin-right: 20px;
  border: none;
  border-radius: 100%;
  background: none;
  height: 30px;
  width: 30px;
  opacity: 0;
  cursor: pointer;
  /* visibility: hidden; */
  transition: all .4s ease;
}

#btnTop img {
  width: 30px; 
}


/*---------------- Link do Whastapp ----------------- */
/* Div Geral */
#div-fixa {
  position:fixed;
  bottom:20px;
  margin: 0 20px;
  background: var(--clau-color);
  width: 210px;  
  /* height: 45px; */
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s all;  
}

#div-fixa.shrink {
  width: 50px;
  transition: 0.5s all;  
  overflow: hidden;
}

/* Imagem do Whatsapp */
#div-fixa img{
  width: 50px;
  height: 50px;
  /* margin-top: 3px;
  margin-left: 2px; */
}

/* Classe da img e span */
#div-fixa a .flex-itens{
  display: flex;
  align-items: center;

  /* justify-content: center; */
}

/* Span - Converse comigo! */
#div-fixa a .flex-itens .w_converse{
  display: block;
  margin-top: 6px;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--black);
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 15px;
  min-width: 140px;
  opacity: 0;
}

/* Span - aparecer e desaparecer com função no JS */
#div-fixa a .flex-itens .w_converse.aparecer{
  transition: 0.5s all;
  opacity: 1;
}

.flutuar {
  animation-name: flutuar;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes flutuar {
  from{
    transform: translate3d(0, 0, 0);
    filter:brightness(70%);
  }

  to{
    transform: translate3d(0, -15px, 0);
    filter:brightness(100%);
  }
}

footer .footer__content .footer__copyright {
  font-size: 1.5rem;
  color: var(--white);
  
}



/* Como cuidar de sua saúde? */
footer .footer__content .tertiary-title {
  text-align: center;
  justify-content: center; 
  color: var(--white);
  margin-top: 3rem;
}

/* Frase do Rodapé: Para você.... */
footer .footer__content .conversar {
  color: var(--white);
  justify-content: center;
  text-align: center;
  align-items: center;
}

.rodape .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Caixa dos Links Rápidos */
.rodape .box-container .caixa {
  flex: 1 1 25rem;
  margin: 2.5rem;
  margin-bottom: 3rem;
  
}
/* Links Rápidos */
.rodape .box-container .caixa h3 {
  font-size: 2.5rem;
  color: var(--white);
  padding-bottom: 1rem;
  font-weight: normal;
}

.rodape .box-container .caixa p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--white);
  padding: 0.7rem 0px;
  margin-bottom: 0;
  text-transform: none;
}

.rodape .box-container .caixa .email_rodape {
  letter-spacing: 1px;
}

/* Icones de Informações para Contato */
.rodape .box-container .caixa p i {
  line-height: 0.5rem;
  padding-right: 1rem;
  color: var(--white);
}

/* Lista dos Links - home, sobre... */
.rodape .box-container .caixa a {
  font-size: 1.5rem;
  color: var(--white);
  padding: 0.3rem 0;
  margin-bottom: 7px;
  display: block;
}

/* Icones como setas > */
.rodape .box-container .caixa a i {  
  margin-right: 5px;
}

.rodape .box-container .caixa a:hover {
  color: #0c1bbdc1;
  text-transform: uppercase;
  transition:ease-in-out all 0.5s;
}

.rodape .box-container .caixa .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

/* Parte interna dos icones de rede social */
.rodape .box-container .caixa .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: var(--primary-color);
  border: none;
}

/* Ao passar do mouse nas redes sociais */
.rodape .box-container .caixa .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(242, 239, 239);
  color: var(--white);
}

/* Direitos Reservados */
footer .footer__content .footer__copyright {
  background-color: var(--white);
  padding: 25px 0;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--primary-color);
 
}

/* Designed by Flávio Silva */
#footer .credits {
  padding: 0;
  margin-bottom: 20px;
  background-color: var(--white);
  text-align: center;
  font-size: 15px;
  color: var(--primary-color);
}

/* Icone do Linkedin */
.credits .fa {
  margin-left: 5px;
}


/* Animação icons media sociais */
.rodape .fa {
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: animacao 0.35s infinite alternate;
}

@-webkit-keyframes animacao {
  to {
    transform: scale(1.1);
  }
}

@keyframes animacao {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 768px) {
  .footer .footer__content { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .rodape .box-container .caixa {
    margin: 1.5rem;
  }

  .rodape .box-container .caixa p {
    padding: 0.7rem;
  }

  .rodape .box-container .caixa .share a {
    padding: 1.2rem;
  }
}

/*responsividade da página total*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }
}